body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  width: 150px;
  height: 40px;
  font-weight: bold;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

/*
.first-section,
.second-section,
.third-section,
.fourth-section {
  flex-grow: 2;
}
*/

/* FIRST SECTION */

.first-section {
  flex: 1 80vh;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header ul {
  display: flex;
  gap: 40px;
}

.fs-content {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fscnt-img img {
  width: 500px;
}

.fscnt-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fscnt-title {
  font-size: 48px;
  font-weight: 900;
}

/* SECOND SECTION */

header {
  font-size: 36px;
  font-weight: 900;
}

.second-section {
  flex: 1 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.card-info img {
  width: 200px;
}

.card-info {
  width: 200px;
}

/* THIRD SECTION */

.third-section {
  background-color: #e5e7eb;
  color: #1f2937;
  flex: 1 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  align-items: flex-end;
  width: 750px;
  flex-direction: column;
  gap: 30px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  font-weight: bold;
  font-size: 20px;
}

/* FOURTH SECTION */

.fourth-section {
  flex: 1 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  padding: 40px 80px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-title {
  font-weight: bold;
}

.cta-btn {
  border-color: white;
}

/* FOOTER */

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #1f2937;
  color: white;
  flex: 1 10vh;
}
